In [4]:
import pandas as pd

# 주어진 데이터 프레임 생성
data = {
    "시간 (s)": [0, 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300, 320, 340, 360, 380],
    "벤젠 (1)": [6.42, 6.30, 6.18, 6.05, 5.81, 5.70, 5.59, 5.51, 5.48, 5.44, 5.51, 5.55, 5.59, 5.61, 5.63, 5.63, 5.63, None, None, None],
    "벤젠 (2)": [6.31, 6.17, 6.01, 5.88, 5.78, 5.70, 5.61, 5.53, 5.46, 5.42, 5.48, 5.53, 5.57, 5.61, 5.61, 5.61, None, None, None, None],
    "벤젠 (3)": [6.35, 6.08, 5.95, 5.87, 5.80, 5.74, 5.66, 5.55, 5.46, 5.50, 5.56, 5.61, 5.63, 5.63, 5.63, None, None, None, None, None],
    "mixture (1)": [5.48, 5.39, 5.21, 5.05, 4.89, 4.93, 4.64, 4.59, 4.45, 4.36, 4.28, 4.37, 4.41, 4.46, 4.47, 4.48, 4.48, 4.47, 4.47, 4.47],
    "mixture (2)": [5.42, 5.28, 5.17, 5.08, 4.92, 4.76, 4.81, 4.70, 4.64, 4.58, 4.58, 4.52, 4.51, 4.50, 4.50, 4.50, 4.48, None, 4.49, 4.49],
    "mixture (3)": [5.37, 5.19, 5.20, 4.94, 4.87, 4.91, 4.75, 4.66, 4.59, 4.58, 4.56, 4.53, 4.52, 4.50, 4.49, 4.47, 4.46, 4.49, 4.49, 4.47]
}

df = pd.DataFrame(data)

# IQR 방법을 통한 이상치 제거 함수 정의
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    cleaned_df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return cleaned_df

# 각 열에 대해 이상치 제거
cleaned_df = df.copy()
for column in cleaned_df.columns[1:]:  # 첫 번째 열(시간)은 제외
    temp_df = remove_outliers_iqr(df, column)
    cleaned_df = pd.merge(cleaned_df, temp_df[['시간 (s)', column]], on='시간 (s)', how='inner')

# 결과 출력
cleaned_df

,시간 (s),벤젠 (1)_x,벤젠 (2)_x,벤젠 (3)_x,mixture (1)_x,mixture (2)_x,mixture (3)_x,벤젠 (1)_y,벤젠 (2)_y,벤젠 (3)_y,mixture (1)_y,mixture (2)_y,mixture (3)_y
0,40,6.18,6.01,5.95,5.21,5.17,5.20,6.18,6.01,5.95,5.21,5.17,5.20
1,60,6.05,5.88,5.87,5.05,5.08,4.94,6.05,5.88,5.87,5.05,5.08,4.94
2,80,5.81,5.78,5.80,4.89,4.92,4.87,5.81,5.78,5.80,4.89,4.92,4.87
3,100,5.70,5.70,5.74,4.93,4.76,4.91,5.70,5.70,5.74,4.93,4.76,4.91
4,120,5.59,5.61,5.66,4.64,4.81,4.75,5.59,5.61,5.66,4.64,4.81,4.75
5,140,5.51,5.53,5.55,4.59,4.70,4.66,5.51,5.53,5.55,4.59,4.70,4.66
6,160,5.48,5.46,5.46,4.45,4.64,4.59,5.48,5.46,5.46,4.45,4.64,4.59
7,180,5.44,5.42,5.50,4.36,4.58,4.58,5.44,5.42,5.50,4.36,4.58,4.58
8,200,5.51,5.48,5.56,4.28,4.58,4.56,5.51,5.48,5.56,4.28,4.58,4.56
9,220,5.55,5.53,5.61,4.37,4.52,4.53,5.55,5.53,5.61,4.37,4.52,4.53
10,240,5.59,5.57,5.63,4.41,4.51,4.52,5.59,5.57,5.63,4.41,4.51,4.52
11,260,5.61,5.61,5.63,4.46,4.50,4.50,5.61,5.61,5.63,4.46,4.50,4.50
12,280,5.63,5.61,5.63,4.47,4.50,4.49,5.63,5.61,5.63,4.47,4.50,4.49